/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-image: url('/img/wallpaper4.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}
@media (min-width: 1118px) {
  html,
  body {
    /* h1, h2, h3, p, li {
			background-color: @paleyellow;
		} */
    max-width: 960px;
    margin: 0 auto;
  }
}
h1,
h2,
h3,
h4 {
  font-family: 'Libre Caslon Text', serif;
}
.container {
  /* .section-column{
	width: 50%;
	padding: 1rem 2rem; 
	margin-left: 5.5rem;
} */
}
.container .buttoncombo {
  background-color: #C792A4;
  color: white;
}
.container .darkgraycombo {
  color: white;
  background-color: #B9B366;
}
.container .flexcolumn {
  display: flex;
  flex-direction: column;
}
.container header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 500px) {
  .container header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.container header nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.container header nav div {
  margin: 1rem 0;
  padding: 1rem 2rem;
  font-family: 'Libre Caslon Text', serif;
  font-size: 1rem;
}
.container header nav div a {
  text-decoration: none;
  color: white;
}
.container header nav div a:hover {
  text-decoration: underline;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.container header nav div a:visited {
  color: white;
}
@media (max-width: 500px) {
  .container header nav {
    display: flex;
    flex-direction: column;
    /* border: solid red 1px; */
    width: 100;
    text-align: center;
  }
  .container header nav div {
    margin: 0;
    font-size: 3rem;
  }
  .container header nav div:hover {
    border: solid #B9B366 1px;
    box-shadow: 1px 2px 2px 1px grey;
  }
  .container header nav div a:hover {
    text-decoration: none;
    font-size: 3rem;
  }
}
.container header .hero {
  border-radius: 3px;
  width: 80%;
  margin: 0 auto 2rem auto;
  background-color: #F3F0C9;
}
.container header .hero img {
  margin: 5rem 1.5rem 0.5rem 2.5rem;
}
.container header .hero h1 {
  margin: 0.5rem auto 1rem auto;
  font-size: 3rem;
  width: 90%;
}
.container header .hero h2 {
  font-size: 2rem;
  width: 90%;
  border-bottom: #B9B366 solid 0.5px;
  padding-bottom: 1.5rem;
  margin: 0 auto 2rem auto;
}
@media (max-width: 500px) {
  .container header .hero {
    width: 95%;
    margin: 0.3rem auto 0 auto;
    /* border: green 1px solid; */
  }
  .container header .hero section {
    width: 100%;
    margin: 0 auto;
  }
  .container header .hero section img {
    display: flex;
    width: 90%;
    margin: 1rem auto;
    text-align: center;
    /* border: solid hotpink 1px; */
  }
  .container header .hero section h1 {
    text-align: left;
  }
}
.container header .hero .call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container header .hero .call-to-action h3 {
  font-size: 1.5rem;
  margin-left: 3rem;
  padding: 0.5rem 0 0.5rem 0;
}
.container header .hero .call-to-action p {
  width: 90%;
  font-size: larger;
  margin: 2rem auto 2rem 3rem;
}
.container header .hero .call-to-action button {
  background-color: #C792A4;
  color: white;
  margin: 1rem auto 4rem auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  text-transform: capitalize;
  border-radius: 4px;
}
.container .h3styling {
  padding: 1rem;
  font-size: 1.5rem;
}
.container .title-spacing {
  padding: 1rem;
}
.container article {
  display: flex;
  margin-bottom: 2rem;
}
.container article .sectionspacing {
  padding: 1rem;
  width: 50%;
}
.container article section {
  padding: 1rem;
  width: 50%;
}
.container article section h2 {
  font-size: 2rem;
  padding: 1rem;
  margin: auto;
}
.container article section p {
  line-height: 1.5rem;
}
.container article section h3 {
  padding: 1rem;
  font-size: 1.5rem;
}
.container article section ul {
  border-radius: 4px;
  border: #B9B366 solid 0.5px;
  margin-right: 3rem;
}
.container article section ul .listspacing {
  padding: 0.75rem;
  border-bottom: #B9B366 solid 0.5px;
}
.container article section ul li {
  padding: 0.75rem;
  border-bottom: #B9B366 solid 0.5px;
}
@media (max-width: 500px) {
  .container article {
    display: flex;
    flex-direction: column;
    /* border: red solid 1px; */
  }
  .container article section {
    width: 100%;
    margin: 0 auto;
  }
  .container article section h2 {
    line-height: 2.5rem;
  }
  .container article section p {
    padding-left: 1rem;
  }
}
.container .bottom-section {
  display: flex;
  flex-direction: column;
  /* border: red 2px solid; */
  width: 80%;
  margin: 0 auto;
  /* table {
		border: blue solid 1px;
	} */
}
.container .bottom-section h3 {
  padding: 1rem;
  font-size: 1.5rem;
}
.container .bottom-section .centertable {
  font-weight: bold;
  padding: 1rem;
}
.container .bottom-section .centerrow {
  padding: 1rem;
  text-align: center;
}
@media (max-width: 500px) {
  .container .bottom-section {
    width: 100%;
  }
}
.container .bottom-section table tr:nth-child(2n) {
  background-color: #B9B366;
}
.container .bottom-section table tr td {
  padding: 1rem;
  text-align: center;
  /* border: solid purple 2px; */
}
.container .bottom-section table th {
  font-weight: bold;
  padding: 1rem;
}
@media (max-width: 500px) {
  .container .bottom-section table {
    width: 100%;
  }
}
.container footer {
  height: 15vh;
  width: 80%;
  margin: 2.5rem auto 2rem auto;
  color: white;
  background-color: #B9B366;
  text-align: center;
  padding-top: 2rem;
  border-radius: 3px;
}
@media (max-width: 500px) {
  .container footer {
    height: 10vh;
    width: 100%;
    margin: 0 auto;
    border-radius: 0;
  }
}
@media (min-width: 1118px) {
  .container footer p {
    background-color: #B9B366;
  }
}
