/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
/* @robotica: font-family: 'Roboto', sans-serif; */
.darkgraycombo {
  color: white;
  background-color: #808080;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
header nav div {
  margin: 1rem 0;
  padding: 1rem 2rem;
}
header .hero {
  border-radius: 3px;
  width: 80%;
  margin: 0 auto 2rem auto;
  background-color: #E9ECEF;
}
header .hero img {
  margin: 5rem 1.5rem 0.5rem 2.5rem;
}
header .hero h1 {
  margin: 0.5rem auto 1rem auto;
  font-size: 3rem;
  width: 90%;
}
header .hero h2 {
  font-size: 2rem;
  width: 90%;
  border-bottom: #808080 solid 0.5px;
  padding-bottom: 1.5rem;
  margin: 0 auto 2rem auto;
}
header .hero .call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
header .hero .call-to-action p {
  width: 90%;
  margin: 0 auto 1rem auto;
}
header .hero .call-to-action button {
  color: white;
  background-color: #808080;
  margin: 1rem auto 4rem auto;
  font-size: 1.5rem;
  padding: 1rem;
  text-transform: capitalize;
  border-radius: 7px;
}
.title-spacing {
  padding: 1rem;
}
.section-column {
  width: 50%;
  padding: 1rem 2rem;
  margin-left: 5.5rem;
}
article {
  display: flex;
}
article section {
  width: 50%;
  padding: 1rem 2rem;
  margin-left: 5.5rem;
}
article section p {
  line-height: 1.5rem;
}
article h2 {
  font-size: 2rem;
  padding: 1rem;
  margin: auto;
}
article h3 {
  padding: 1rem;
  font-size: 1.5em;
}
article ul {
  border-radius: 4px;
  border: #808080 solid 0.5px;
}
article ul .listspacing {
  padding: 0.75rem;
  border-bottom: #808080 solid 0.5px;
}
article ul li {
  padding: 0.75rem;
  border-bottom: #808080 solid 0.5px;
}
